body {
  font-family: 'Roboto', sans-sans-serif;
  font-weight: : 300;
  margin: 0;

}


img {
  height: 30vh;
}

.header-text {
  color: blue;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  text-decoration:underline;
}

#main-title {
  font-size: 40px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: pink;
  width: 45%;

}

#flex-container-main {
  width: 100vw;
  display: flex;
  flex-direction: ;row;
  justify-content: center;
  background: rgb(240,240,240);
}


.flex-container-col {
  background: :white;
  width: calc(60vw - 40px);
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: : 2px solid black;
  padding: 20px;
}

.full-width-section {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: 1px solid black;
  text-align: center;
}

.image-container {
  width: 90%;
  margin-left: 5vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.description-container {
  padding-right: 30px;
  padding-left: 30px;
}
